<!--
https://learn.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/z415cf9a(v=vs.100)
-->
<configuration>
  <system.runtime.remoting>
    <application name="RemotingJobServer">
      <service>
        <wellknown mode="Singleton"
                   objectUri="JobURI"
                   type="RemotingJobServer.JobServerInternal, RemotingJobServer"/>
      </service>
      <channels>
        <channel id="JobTcpChannel"
          port="4001"
          ref="tcp" />
        <channel id="JobHttpChannel"
                 port="4000"
                 ref="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
